.containerDetail{
    display: flex;
    background-color: white;
    justify-content: center;
}
.nombreDetail{
    font-size: 1.5vw;
    margin-top:2vw;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.imgDetail{
    margin-left: 3vw;
}
.ContainerDatos{
    border: 1px solid gray;
    margin: 2vw;

}
.descripcionDetail{
    display: flex;
    justify-content: center;
    margin: 5vw;
    font-size: 1vw;
}
.categoriaDetail{
    display: flex;
    justify-content: center;
    margin: 3vw;
}
