.navBar{
    display: flex;
    background-color:black;
    height: 5vw;
    justify-content: space-between;
}
.Brand{
    color: #fffcf1;
    display: flex;
    align-items: center;
    margin: 0.5vw;
    font-size: 35px;
   
}
.NavbarLists li {
    color: white;
    display:block;
    
}
.NavbarLists li a{
    color: white;
    display: flex;
   font-size: 1vw;
   text-decoration: underline;
   margin: 10px;
}
.NavbarLists li a:hover{
    background-color: white;
    border-radius: 4px;
    transition: 0.7s;
    color: black;
}
.menuDesplegable{
    display:block;
    height:3vw ;
    

}

.marcas{
   background-color: black;
   display: none;
   position: absolute;
   list-style: none;
   width: 100px;
}
.marcas:hover{
    color: black;
}
.menuDesplegable:hover .marcas{
    display: block;
}

.NavbarLists{
    display: flex;
    
}
.carrito{
    display: flex;
    color: white;
    align-items: center;
    margin: 0.5vw;
    
}
.ContainerCart{
    display: flex;
    align-items: center;
    
}
.loginIcon{
    color: white;
    margin-right: 10px;
}